.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    margin: 0 auto;
  }
  .containerIcons{
    align-items: center;
  }
  .footer .icons-header-container {
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 768px) {
    .footer .icons-header-container {
      justify-content: center;
    }
  }
  .footer .icons-header-container a {
    width: 4.266rem;
    height: 4.266rem;
  }
  .footer .icons-header-container :hover .fill {
    color: salmon;
    transition: all 0.5s;
    transform: scale(1.2, 1.2);
  }
  .footer .copyright, .footer .Design {
    font-family: "Roboto";
    font-size: 1.3rem;
  }
  .footer .rigth-margin {
    margin: 0 auto;
  }
  .footer .bottom-margin {
    margin-bottom: 1rem;
  }
  .footer .color-Footer {
    color: rgba(255, 255, 255, 0.687);
  }
  .footer .fill {
    color: rgba(255, 255, 255, 0.687);
  }
 
  .main02::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient(0deg, #cccccc 0%, white 100%);
  }