.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.itemMenu{
    display: block;
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all .6s;
    
}
.itemMenu:hover{
    color: #111224;
}

.menuScroll{
    background-color: #fff;
    box-shadow: 1px 6px 12px -3px #000000;
    position: fixed;
    transition: all .4s;
}

#btn-menu{
    display:none
}

.containerMenu label{
    display:none;
    width: 30px;
    height: 40px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.containerMenu label:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    height: 100%;
}

.menu li{
    border-left: 1px solid #fff;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li:hover {
    background-color: #ccc;
    cursor: pointer;
    border-left: 1px solid #111224;
    /* border-right: 2px solid #111224; */
}
.menu li:hover .itemMenu{
    color: #111224;

}



@media (max-width:768px){
    .containerMenu{
        position: absolute;
        bottom: 1360px;
        height: 40px;
     }
    .containerMenu label{
        display:block;
        border: none;
    }
    .menu{
        position: absolute;
        background-color: #2A9E6A;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
     }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
        position: relative;
        bottom: 30px;
     }

    .btn-closed{
        position: absolute;
        left: 263px;
        bottom: 15px;
        border: 1px solid rgba(0,0,0,0);
        opacity: 0;
    }

}

@media (max-width: 768px) {
    .containerMenu{
        display: none;
    }
    .menu{
        display: none;
    }

}
