* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    height: 100%;
  }
  @media (max-width: 768px) {
    html {
      overflow-x: unset;
      overflow-y: scroll;
    }
  }
  
  body {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100vw;
    height: 100%;
  }
  @media (max-width: 768px) {
    body {
      flex-direction: column;
      justify-content: flex-start;
      height: unset;
    }
  }
  
  .main01 {
    width: 100%;
    height: 10rem;
  }
  @media (max-width: 768px) {
    .main01 {
      width: 100vw;
      height: 100vh;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .main01 {
      width: 45%;
    }
  }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .main01 {
      width: 40%;
    }
  }
  
  .header {
    background-image: url(../images/back03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 9.6rem 0 0; */
  }
  @media (max-width: 768px) {
    .header {
      padding: 0;
    }
    .container-header{
      justify-content: space-between;
    }
  }
  .header .container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;
    align-items: center; */
  }
  .header .avatar {
    /* width: 17rem; */
    /* height: 17rem;
    border-radius: 50%;
    margin: 11rem 0 2rem 0 */
  }
  .header .descriptionHeader {
    margin-bottom: 8rem;
    font-size: 8rem;
    text-align: center;
    line-height: 3.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    /* position: relative;
    left: 2.5rem; */
    text-shadow: 0 0 2rem #000;
}
.subTitleHeader{
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 2rem #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
}
  @media (max-width: 768px) {
    .header .descriptionHeader {
      text-align: center;
      margin-right: 0;
      position: unset;
      line-height: unset;
      font-size: 6rem;
    }
    .subTitleHeader i{
        text-align: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .header .descriptionHeader {
      margin-right: 4rem;
    }
  }
  .header .descriptionHeader span {
    font-size: 4rem;
  }
  
  .main02 {
    width: 70%;
    padding: 0rem 3.8rem 3.8rem 0;
    /* background: linear-gradient(0deg, #111224 0%, white 100%); */
    overflow-x: hidden;
    overflow-y: visible;
  }
  @media (max-width: 768px) {
    .main02 {
      width: 100vw;
      height: 100%;
      padding: 0 0 0 0 ;
    }
  }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .main02 {
      width: 60%;
    }
  }
  .main02 .one {
    border-bottom: 0.1rem solid #ccc;
}
  .main02 .one .headerOne p {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: Roboto;
    text-align: center;
  }
  .main02 .one .descriptionOne {
    padding: 3.8rem 3.8rem;
    color: #111224;
    font-size: 2.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 3.2rem;
    text-align: center;
    font-style: italic;
  }
  .main02 .two {
    border-bottom: 0.1rem solid #ccc;
    padding: 3rem 0;
  }
  .main02 .two .titleSectionTwo {
    font-size: 3.6rem;
    font-family: Roboto;
    font-weight: 800;
    margin-bottom: 3.2rem;
    text-align: center;
    color: #111224;
  }
  .main02 .two .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    .main02 .two .row {
      justify-content: center;
    }
    .main02 .one{
      /* position: absolute; */
    }
  }
  @media (min-width: 1024px) and (max-width: 1247px) {
    .main02 .two .row {
      justify-content: center;
    }
  }
  .main02 .two .row .article-wrap {
    width: 37.8rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #ccc;
    padding-bottom: 1.2rem;
    background: #fff;
    margin: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width: 300px) and (max-width: 1024px) {
    .main02 .two .row .article-wrap {
      margin: 0 auto 1.8rem;
    }
  }
  .main02 .two .row .article-wrap .job-image {
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
    height: 22.1rem;
    margin-bottom: 0.5rem;
  }
  .main02 .two .row .article-wrap p:nth-child(2) {
    width: 97%;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0.8rem 0.5rem;
    padding: 0 0.5rem 0.2rem 0;
    font-weight: 700;
    border-bottom: 0.1rem solid #ccc;
    padding-right: 0.5rem;
  }
  .main02 .two .row .article-wrap p:nth-child(3) {
    font-size: 1.28rem;
    font-family: "Roboto", sans-serif;
    margin: 0 0.5rem 0.8rem 0.5rem;
    text-align: justify;
    line-height: 1.5rem;
    color: #343434;
  }
  .main02 .two .row .article-wrap .container-Buttons-TrabajosRecientes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main02 .two .row .article-wrap .container-Buttons-TrabajosRecientes .goToGitHub {
    width: 10rem;
    font-size: 1.6rem;
    margin: 0 0.5rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
    position: relative;
  }
  .main02 .two .row .article-wrap .container-Buttons-TrabajosRecientes .goToGitHub:hover {
    box-shadow: 0 0 1rem #ccc;
    font-weight: 600;
    transition: all 0.1s;
    background: linear-gradient(0deg, #cccccc 51%, white 90%);
  }
  .main02 .three {
    border-bottom: 0.1rem solid #ccc;
    padding: 3rem 0;
  }
  .main02 .three .titleSectionThree {
    font-size: 3.6rem;
    font-family: Roboto;
    font-weight: 800;
    margin-bottom: 3.2rem;
    text-align: center;
    color: #111224
  }
  
  .main02 .three .containerSkill {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    .main02 .three .containerSkill {
      justify-content: center;
    }
  }
  @media (min-width: 1024px) and (max-width: 1247px) and (max-width: 768px) {
    .main02 .three .containerSkill {
      justify-content: center;
    }
  }
  .main02 .three .containerSkill .containerArticle {
    width: 37.5rem;
    /* height: 37.5rem; */
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #ccc;
    padding: 1.2rem;
    background: #fff;
    margin: 0 0 2rem 2rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .containerArticle p{
      display: flex;
      justify-content: center;
  }
  .material{
      border-radius: 1.5rem;
      width: 35rem;
      height: 33rem;
  }
  @media (max-width: 768px) {
    .main02 .three .containerSkill .containerArticle {
      margin: 0 auto 1.8rem;
    }
  }
  .main02 .three .containerSkill .containerArticle p {
    width: 97%;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0.8rem 0.5rem;
    padding: 0 0.5rem 0.2rem 0;
    font-weight: 700;
    border-bottom: 0.1rem solid #ccc;
    padding-right: 0.5rem;
  }
  
  
  
  .main02::-webkit-scrollbar-thumb {
    width: 5px;
    background: #717171;
    border-radius: 10px;
    border: 3px solid #ccc;
  }

  .whatsap{
      position: fixed;
      right: 2%;
      bottom: 2%;
      display: fixed;
      border-radius: 50%;
  }
  .whatsap:hover{
      box-shadow: 0 0 2rem #000;
      transition: all 0.5s;
    transform: scale(1.1, 1.1);
  }
@media (max-width: 768px) {
  .whatsap img{
    width: 6.8rem;
  }
}
  .containerMapa{
      width: 37rem;
      height: 37rem;
      border-radius: 1.5rem;
    box-shadow: 0 0 1rem #ccc;
    padding: 1.2rem;
    background: #fff;
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .job-image{
    object-fit: cover;
  }

  .containerTextContac{
      font-family: Roboto;
      font-size: 2rem;
  }